@model BillingManagement.Web.Models.Billing
    


<tr>
    <th>Billing Number</th>
    <th>Date From</th>
    <th>Date To</th>
    <th>Notes</th>
    <th></th>
</tr>
<tr>
    <td>
        @Model.BillingPhone
    </td>
    <td>
        @Model.DateFrom.ToString("dd/MM/yyyy")
    </td>
    <td>
        @Model.DateTo.ToString("dd/MM/yyyy")
    </td>
    <td>

        @Model.Notes
    </td>
    <td>

        @Html.ActionLink("Edit", "Edit", "Billings") !
        @Html.ActionLink("Delete", "Delete", "Billings")
    </td>
</tr>
