@model BillingManagement.Web.Models.Site
    

<tr>
    <th>Name</th>
    <th>Main Site</th>
    <th>Billings</th>
    <th></th>
</tr>
<tr>
    <td>
        @Model.Name
    </td>
    <td>
        @Model.MainSite
    </td>
    <td>
        <table class="hovertable">
            @foreach (var billing in Model.Billings)
            {
                @Html.Partial("_Billing", billing)
            }
            
            @Html.ActionLink("Add Billing", "Create", "Billings")
            
        </table>
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", "Sites") !
        @Html.ActionLink("Delete", "Delete", "Sites")
    </td>
</tr>

